<div class="bg-dark footer">
    <div class="container">
        <footer class="py-3">
          <ul class="nav justify-content-center border-bottom border-1 border-dark-subtle pb-3 mb-3">
            <li class="nav-item"><a href="#" target="_blank" class="item-link nav-link text-light px-2">Linkedin</a></li>
            <li class="nav-item"><a href="#" target="_blank" class="item-link nav-link text-light px-2">Github</a></li>
            <li class="nav-item"><a href="#" target="_blank" class="item-link nav-link text-light px-2">Instagram</a></li>
          </ul>
          <p class="text-center text-light">© 2024 Youtube, Inc</p>
        </footer>
      </div>
</div>