<div class=" d-flex mt-5 w-100" style="width: 18rem;">
    <div class="imgContainer">
        <img src="{{character.image}}" alt="Card image cap">
    </div>
    <div class="m-4">
        <h3 class="">{{character.name}}</h3>
        <p><strong>Fecha de creación:</strong> {{character.created}}</p>
        <p><strong>Especie:</strong> {{ character.species}}</p>
        <p><strong>Estado:</strong> {{character.status}}</p>
        <p><strong>Genero:</strong> {{character.gender}}</p>
        <p><strong>Ubicación:</strong> {{character.location.name}}</p>
        <p>Aparece en {{character.episode.length}} capítulos</p>

</div>