.container {
    display: grid;
    grid-template-columns: auto 200px auto 100px;
    grid-template-rows: auto 100px auto;
    gap: 10px;
}

.item {
    background-color: cadetblue;
    padding: 10px;
}