<!-- <h1>Hola Angular</h1>

<p>{{ title }}</p>

<p>Mi nombre es <strong>{{ usuario }}</strong></p>
<p>Esto es parte del app.component</p>
<div>
    <p>
        <mi-componente>Esto es una prueba, no que yo ponga acá no se va a ver, solomuestra el contenido del html de la tag mi-componente</mi-componente>
    </p>
</div>

<mi-componente></mi-componente> -->
<app-header></app-header>
<!-- <app-main></app-main> -->
<!-- <app-padre></app-padre> -->

<ul>
    <li *ngFor="let tarea of datos">
        {{ tarea.nombre }} [ {{ tarea.terminada }} ]

    </li>
</ul>

<hr>
<!-- {{ personajes | json }} pipe json -->

<ul>
    <li *ngFor="let personaje of personajes.results">
        <img src="{{personaje.img}}" alt="" width="50px">
        {{ personaje.name }} 
    </li>
</ul>
<app-footer></app-footer>