<div>
    <h2>Proyecto 1</h2>
    <ul>
        <li *ngFor="let task of tasks; index as i">
            <input type="checkbox" (change)="statusTask(i)">
            <span [class.completed]="task.status"> {{ task.text }}</span> <!-- [class.completed] le agrega la clase css completed si el status es true, eso sucede cuando cleckeo en el checkbox-->
        </li>
    </ul>
</div>
<div class="d-flex align-items-center ">
    <input class="input" type="text" [(ngModel)]="newTask" placeholder="Nueva tarea">
    <button class="btn mr-5 btn btn-outline-success " (click)="addTask()">Add</button>
</div>