<nav class="bg-navbar navbar navbar-expand-lg p-3">
    <div class="container-fluid ">
        <a class="ms-4 navbar-brand d-flex  align-items-center " href="#"><img src="../../../assets/img/logo2.png" alt="" width="70" height="70" class="d-inline-block align-text-top"> Mis Proyectos</a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a routerLink="" class="nav-link mx-2 text-uppercase " href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase " href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase " href="#">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>