<div class="row p-4">
    <div class="col-6 p-2">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div *ngFor="let img of producto?.images; index as i" class="carousel-item imgContainer w-100" [class.active]="i == 0">
                    <img class="d-block w-100" src="{{img}}" alt="">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-6 p-2">
        <div class="row">
            <div class="col-12">
                <p class="h4"><strong>Categoria: </strong>{{producto.category.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><strong>Titulo: </strong>{{producto.title}}</p>
                <p><strong>Descripcion: </strong>{{producto.description}}</p>
                <p><strong>Cantidad: </strong> 1</p>
                <hr>
                <button class="btn btn-outline-success" routerLink="/cart">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>