<div class="container my-5">

    <footer class="bg-dark text-center text-white d-flex flex-column ">

        <div class="container p-4 pb-0">
            <section class="mb-4">

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>

            </section>
        </div>

        <div id="bg-text-footer" class="text-center p-3 d-flex justify-content-around  ">
            <p>© 2020 Copyright</p>
            <p>Luciana Chaparro</p>
        </div>
    </footer>

</div>