<div class="container-fluid w-100  ">
    <div class="row w-100 ">
        <div class="w-100 bg-sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0  d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4 text-uppercase  d-none d-sm-inline">Menu</span>
            </a>
            <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                    <a href="#" class="nav-link text-decoration-none text-white align-middle px-0"><span class="text-uppercase ms-1 d-none d-sm-inline">Proyecto 1</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-decoration-none text-white px-0 align-middle"><span class=" text-uppercase ms-1 d-none d-sm-inline">Proyecto 2</span>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>