<div class="container mt-5 padre">

    <h4>Componente PADRE</h4>
    <!--Si envío un texto, no hace falta ponerle [], si envío variable/objeto/array si los uso -->
    <app-hijo datoEnviado="I am your father"> </app-hijo> <!-- Si es un string-->
    <app-hijo [datoEnviado]="{ nombre: 'Luciana', msj: 'Comunicación padre a hijo' }"> </app-hijo> <!-- Si es algún objeto-->



    <!--Comunicacion Hijo a Padre-->

    <app-hijo (mensaje)="recibirMsj($event)"></app-hijo> <!--Le envío el evento-->
    <p>Mensaje del Hijo: {{ msjContenido }}</p> <!--Muestro elmsj del padre al hijo-->

</div>

<div>
    <input type="text" #myInput> <!-- Es una variable no un id-->
    <button (click)="mostrar(myInput.value)">Mostrar</button>
    <h4>{{ contenidoInput }}</h4> <!--Muestro en el h4 en contenido ingresado en el input, otra manera de hacerlo en vez de usar ngModel]-->
</div>